/* Homepage */

#homepage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-top: 10vh;
  /* border: 4px solid red; */
}

.home-image,
.home-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image {
  /* border: 1px solid blue; */
  height: 100%;
}

.home-text {
  /* border: 1px solid green; */
  height: 100%;
}

@media screen and (max-width: 800px) {
  #homepage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .home-image {
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 400px;
    aspect-ratio: 1/1;
  }

  .home-image img {
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    z-index: 0;
    opacity: 0.3;
  }

  .home-text {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-text-div {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-text-div h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    text-align: center;
  }

  .full-width {
    width: 80% !important;
    max-width: 300px !important;
  }
}

/* Sign page */

#sign,
#lobby,
#play,
#points {
  /* padding-top: 10vh; */
  justify-content: center;
}

#points {
  /* margin-top: 32px; */
  justify-content: flex-start;
}

@media screen and (max-width: 600px) {
  #play {
    padding-top: 0;
    margin-top: 16px;
    justify-content: flex-start;
  }
}

.register,
.login {
  border: 4px solid var(--TEXT);
  border-radius: 16px;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--BG);
  width: max-content;
  height: min-content;
  box-shadow: -1px 1px 4px 0 var(--SECONDARY);
}

.register h2,
.login h2 {
  margin-bottom: 16px;
  font-size: 2rem;
  color: var(--TEXT);
  /* text-shadow: -1px 0 var(--SECONDARY2), 0 1px var(--SECONDARY2),
    1px 0 var(--SECONDARY2), 0 -1px var(--SECONDARY2); */
}

.register > form,
.login > form {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #sign {
    justify-content: flex-start;
    padding-top: 5vh;
  }
  .register,
  .login {
    padding: 12px 24px;
  }
}

/* Play */

.the-game {
  border: 4px solid var(--TEXT);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  max-height: 1000px;
  height: 100%;
  padding: 0 16px;
  display: grid;
  /* grid-template-rows: repeat(auto-fill, minmax(40px 1fr)); */
  grid-auto-rows: minmax(50px, auto);
  /* GLASS */
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -1px 1px 4px 0 var(--SECONDARY);
  position: relative;

  /* Styles for safari */
  /* overflow: hidden;
	grid-area: cover;
	display: block; */
}

@media screen and (max-width: 600px) {
  .the-game {
    grid-template-rows: repeat(auto-fill, minmax(40px 1fr));
    grid-auto-rows: minmax(40px, auto);
  }
}

.game-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-header > a {
  position: absolute;
  left: 0;
  transform: translate((-50%, -50%));
  height: 80%;
  aspect-ratio: 1/1;
  padding: 0;
  font-weight: 900;
  background-color: transparent;
}

.game-header > a:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .game-header > h2 > span {
    display: none;
  }
}

.game-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border-bottom: 1px solid var(--PRIMARY); */
}

.game-row:nth-child(even) {
  background-color: var(--BG);
}

.game-row:nth-child(odd) {
  background-color: var(--BG2);
}

.game-section {
  border-right: 1px solid hsl(9, 80%, 85%);
  display: grid;
  /* place-items: center; */
  grid-template-columns: repeat(3, 1fr);
}

.game-section:last-child {
  border: none;
}

.game-section > div {
  /* border: 1px solid red; */
  display: grid;
  place-items: center;
}

.game-pisteet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-selected,
.selected,
.locked {
  border: 2px inset var(--WHITE);
  border-radius: 8px;
  height: 90%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Walter Turncoat", cursive;
}

.not-selected:hover {
  cursor: pointer;
}

.selected {
  border: 2px solid var(--PRIMARY);
  background-color: var(--PRIMARY3);
}

.locked {
  border: 2px solid var(--SECONDARY2);
  background-color: var(--SECONDARY);
  color: white;
  font-size: 1.1rem;
}

.game-kuva-div {
  height: 100%;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  letter-spacing: 1.1px;
}

.game-kuva-div-mobile {
  display: none;
}

.game-kuva-div img {
  /* border: 1px solid blue; */
  object-fit: cover;
  max-width: 26px;
}

@media screen and (max-width: 600px) {
  .game-kuva-div {
    display: none;
  }

  .game-kuva-div-mobile {
    height: 100%;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }
}

.game-ohje-div {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  max-height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.game-ohje-div img {
  margin: 0 4px;
  transform: translateY(1px);
}

.game-ohje-div img:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .game-ohje-div > div {
    display: none;
  }

  .game-ohje-div img {
    display: block;
    margin: 0 auto;
  }
}

.too-many-dices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.too-many-dices > div {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.dices-and-button {
  height: 100%;
}

.game-dices {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  margin: 16px 32px;
  /* width: 100%; */
}

.game-dices > div {
  display: grid;
  /* border: 1px solid orange; */
  place-items: center;
  width: 100%;
  height: 100%;
  max-height: 50px;
  max-width: 50px;
}

@media screen and (max-width: 600px) {
  .game-dices > div {
    width: 40px;
  }
}

.no-dice {
  background-color: gray;
}

.dice > button {
  /* border: 1px solid var(--TEXT); */
  border: none;
  /* -webkit-box-shadow: 0px 0px 32px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 32px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 4px rgba(252, 90, 3, 0.5); */
  border-radius: 12px;
  background-color: var(--BG);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1;
  font-family: "Walter Turncoat", cursive;
  font-size: 1.2rem;
}

.dice > button:disabled {
  background-color: lightgray;
  position: relative;
  overflow: hidden;
}

.dice > button:disabled:hover {
  cursor: default;
  background-color: lightgray;
}

.dice > button:hover {
  cursor: pointer;
  background-color: var(--BG2);
}

.dice > button:disabled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dice > button:disabled:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.dice-selected {
  border: 2px solid var(--SECONDARY2);
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 16px 8px rgba(17, 135, 162, 0.3);
  -moz-box-shadow: 0px 0px 16px 8px rgba(17, 135, 162, 0.3);
  box-shadow: 0px 0px 8px 4px rgba(17, 135, 162, 0.5);
}

.dice-selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(17, 135, 162, 0.06);
  z-index: 1;
  overflow: hidden;
}

.dice-rolling {
  transition: transform 0.5s ease-out;
  transform: rotate(360deg);
}

.dice-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.game-button {
  display: grid;
  place-items: center;
  margin-bottom: 16px;
  /* border: 1px solid salmon; */
  height: 50px;
}

@media screen and (max-width: 600px) {
  .game-button {
    height: 40px;
  }
}

.long-button-div > button:disabled {
  background-color: lightgray;
}

.long-button-div > button:disabled:hover {
  cursor: default;
  background-color: lightgray;
}

.long-button-div,
.short-button-div {
  height: 100%;
  width: 80%;
  font-size: 1.1rem;
}

.long-button-div {
  position: relative;
}

.long-button {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
}

.short-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.short-roll {
  width: 45%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.short-button1 {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.short-button {
  width: 45%;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
}

.short-button:disabled,
.short-button1:disabled {
  background-color: gray !important;
}

.short-button:disabled:hover,
.short-button1:disabled:hover {
  box-shadow: none;
  cursor: default;
}

.long-button:hover,
.short-button:hover,
.short-button1:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .short-roll h3 {
    display: none;
  }

  .short-roll h5 {
    left: 50%;
  }
}

/* my-input */

.my-input,
.my-input-button {
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.my-input label {
  align-self: flex-start;
  margin-bottom: 4px;
}

.my-input input {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid var(--SECONDARY);
  border-radius: 8px;
}

.my-input input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.input-style {
  border: none !important;
  border-bottom: 1px solid var(--PRIMARY);
  outline: none;
  font-size: 1.1rem;
  background-color: var(--BG2);
}

.my-input-button button {
  margin: 16px 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  /* border: 1px solid var(--SECONDARY); */
}

.no-pointer:hover {
  cursor: default;
}

@media screen and (max-width: 600px) {
  .my-input,
  .my-input-button {
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
}

/* Points */

.points,
.how-many {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.points-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  width: 100%;
}

.top-scores {
  margin: 0 16px;
  width: 40%;
}

.top-scores-latest {
  font-size: 1.2rem;
  color: var(--PRIMARY);
}

.scores-over {
  margin: 0 16px;
  width: 50%;
}

.scores-over > div {
  display: flex;
  justify-content: flex-end;
}

.play-again {
  width: 60%;
  margin: 32px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .points-section {
    flex-direction: column;
    font-size: 0.9rem;
  }

  .top-scores,
  .scores-over {
    width: 100%;
    max-width: 400px;
  }

  .top-scores {
    margin-bottom: 16px;
  }

  .scores-over {
    padding-right: 8px;
  }

  .play-again {
    flex-direction: column;
    width: 100%;
  }

  .play-again > button {
    margin-bottom: 8px;
  }
}

/* Yatzy 'animation' */
.yatzy {
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(229, 220, 220, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.yatzy h1 {
  font-size: 2rem;
  opacity: 0;
  animation: yatzy 1.5s ease-in-out forwards;
}

@keyframes yatzy {
  0% {
    transform: scale(20);
  }

  20% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(2);
    opacity: 1;
  }
  /*
  80% {
    transform: scale(2);
    opacity: 1;
  } */

  100% {
    transform: scale(0);
  }
}

/* Scores page */
/* #scores {
  padding-top: 10vh;
} */

@media screen and (max-width: 600px) {
  /* #scores {
    padding-top: 6vh;
  } */
}

.scores-grid {
  margin: 24px 0 32px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 90%;
  max-width: 800px;
}

.scores-top5,
.scores-games {
  border: 2px solid var(--TEXT);
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(16px);
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.scores-top5 {
  align-items: flex-start;
}

.scores-games {
  align-items: flex-end;
}

.scores-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 800px;
}

.scores-buttons > button {
  width: 40%;
}

@media screen and (max-width: 760px) {
  .scores-grid {
    grid-template-columns: repeat(1, 1fr);
    width: max-content;
  }

  .scores-buttons {
    flex-direction: column;
    width: 90%;
  }

  .scores-buttons > button {
    margin: 0 0 24px 0;
    width: 80%;
    max-width: 300px;
  }
}

/* Lobby page */

#lobby {
  justify-content: flex-start;
  padding-bottom: 5vh;
}

.lobby-grid {
  margin: 24px 0 32px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 90%;
  max-width: 1000px;
}

.personal-top,
.all-top,
.all-games,
.lobby-play,
.registered-top,
.registered-games {
  border: 2px solid var(--TEXT);
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(16px);
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 400px;
  min-width: 269px;
  max-height: 400px;
}

.all-top,
.registerd-top {
  align-items: flex-start;
}

.lobby-play {
  height: 100%;
}

.lobby-img {
  height: 80%;
}

.lobby-img img {
  /* width: 100%; */
  aspect-ratio: 1/1;
  object-fit: contain;
}

.lobby-button {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-games,
.registered-games {
  align-items: flex-end;
}

@media screen and (max-width: 800px) {
  .lobby-grid {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    width: 100%;
    font-size: 0.9rem;
  }

  .lobby-play {
    width: 269px;
  }
}
