/* Homepage */

#homepage {
  padding-top: 10vh;
  /* height: calc(100vh - 8vh); */
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  /* border: 4px solid red; */
}

.home-image,
.home-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image {
  /* border: 1px solid blue; */
  height: 100%;
}

.home-text {
  /* border: 1px solid green; */
  height: 100%;
}

/* Sign page */

#sign,
#lobby,
#play {
  padding-top: 10vh;
  justify-content: center;
}

.register,
.login {
  border: 4px solid var(--TEXT);
  border-radius: 16px;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--BG);
  width: max-content;
  height: min-content;
  box-shadow: -1px 1px 4px 0 var(--SECONDARY);
}

.register h2,
.login h2 {
  margin-bottom: 16px;
  font-size: 2rem;
  color: var(--TEXT);
  /* text-shadow: -1px 0 var(--SECONDARY2), 0 1px var(--SECONDARY2),
    1px 0 var(--SECONDARY2), 0 -1px var(--SECONDARY2); */
}

.register > form,
.login > form {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

/* Play */

.the-game {
  border: 4px solid var(--TEXT);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  /* height: 75vh; */
  max-height: 1000px;
  padding: 0 16px;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(40px 1fr));
  grid-auto-rows: minmax(50px, auto);
  /* GLASS */
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -1px 1px 4px 0 var(--SECONDARY);
  position: relative;
}

.game-header {
  display: grid;
  place-items: center;
}

.game-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid var(--PRIMARY);
}

.game-row:nth-child(even) {
  background-color: var(--BG);
}

.game-row:nth-child(odd) {
  background-color: var(--BG2);
}

.game-section {
  border-right: 1px solid var(--PRIMARY);
  display: grid;
  /* place-items: center; */
  grid-template-columns: repeat(3, 1fr);
}

.game-section:last-child {
  border: none;
}

.game-section > div {
  /* border: 1px solid red; */
  display: grid;
  place-items: center;
}

.game-pisteet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-selected,
.selected,
.locked {
  border: 2px inset var(--WHITE);
  border-radius: 8px;
  height: 90%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Walter Turncoat", cursive;
}

.not-selected:hover {
  cursor: pointer;
}

.selected {
  border: 2px solid var(--PRIMARY);
  background-color: var(--PRIMARY3);
}

.locked {
  border: 2px solid var(--SECONDARY2);
  background-color: var(--SECONDARY);
  color: white;
  font-size: 1.1rem;
}

.game-kuva-div {
  height: 100%;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  letter-spacing: 1.1px;
}

.game-kuva-div img {
  /* border: 1px solid blue; */
  object-fit: cover;
}

.game-ohje-div {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  max-height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.game-ohje-div img {
  margin: 0 4px;
  transform: translateY(1px);
}

.game-ohje-div img:hover {
  cursor: pointer;
}

.too-many-dices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.too-many-dices > div {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.game-dices {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  /* border: 1px solid black; */
  margin: 16px 32px;
  /* width: 100%; */
}

.game-dices > div {
  display: grid;
  /* border: 1px solid orange; */
  place-items: center;
  width: 100%;
  height: 100%;
  min-height: 60px;
}

.no-dice {
  background-color: gray;
}

.dice > button {
  border: 2px solid var(--TEXT);
  border-radius: 12px;
  background-color: var(--BG);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1;
  font-family: "Walter Turncoat", cursive;
  font-size: 1.2rem;
}

.dice > button:disabled {
  background-color: lightgray;
}

.dice > button:disabled:hover {
  cursor: default;
  background-color: lightgray;
}

.dice > button:hover {
  cursor: pointer;
  background-color: var(--BG2);
}

.dice-selected {
  border: 2px solid var(--SECONDARY2);
  background-color: var(--SECONDARY) !important;
  color: white;
}

.game-button {
  display: grid;
  place-items: center;
  margin-bottom: 16px;
  /* border: 1px solid salmon; */
  min-height: 50px;
}

.long-button-div > button:disabled {
  background-color: lightgray;
}

.long-button-div > button:disabled:hover {
  cursor: default;
  background-color: lightgray;
}

.long-button-div,
.short-button-div {
  height: 100%;
  width: 80%;
  font-size: 1.1rem;
}

.long-button-div {
  position: relative;
}

.long-button {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
}

.short-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.short-roll {
  width: 45%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.short-button1 {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.short-button {
  width: 45%;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
}

.short-button:disabled,
.short-button1:disabled {
  background-color: gray !important;
}

.short-button:disabled:hover,
.short-button1:disabled:hover {
  box-shadow: none;
  cursor: default;
}

.long-button:hover,
.short-button:hover,
.short-button1:hover {
  cursor: pointer;
}

/* my-input */

.my-input,
.my-input-button {
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.my-input label {
  align-self: flex-start;
  margin-bottom: 4px;
}

.my-input input {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid var(--SECONDARY);
  border-radius: 8px;
}

.my-input input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.input-style {
  border: none !important;
  border-bottom: 1px solid var(--PRIMARY);
  outline: none;
  font-size: 1.1rem;
  background-color: var(--BG2);
}

.my-input-button button {
  margin: 16px 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  /* border: 1px solid var(--SECONDARY); */
}

.no-pointer:hover {
  cursor: default;
}
