:root {
  --PRIMARY: #e8492c;
  --PRIMARY2: rgb(252, 90, 3);
  --PRIMARY3: #ffbc04;

  --SECONDARY: rgb(17, 135, 162);
  --SECONDARY2: hsl(191, 81%, 20%);

  --BG: rgb(229, 220, 200);
  --BG2: #efe5d0;

  --TEXT: hsl(20, 98%, 10%);

  --BLACK: #121212;
  --WHITE: #f5f5f5;

  --ERROR: firebrick;
  --SUCCESS: forestgreen;
  --WARNING: hsl(44, 100%, 40%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Alegreya', serif;
font-family: 'Jost', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Walter Turncoat', cursive; */

body {
  font-size: 18px;
  font-family: "Alegreya", serif;
  font-weight: 500;
  background-color: var(--BG);
  background-image: url("../images/tausta.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: var(--TEXT);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Walter Turncoat", cursive;
  /* font-size: 36px; */
}

h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar & Footer */

.desktop-nav,
.mobile-nav {
  height: 10vh;
  /* width: 100%; */

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 6vh;
  justify-content: flex-start;
  position: relative;
}

.menu-button {
  position: absolute;
  top: 8px;
  left: 0;
  height: 80%;
  height: 32px;
  aspect-ratio: 1/1;
  margin-left: 24px;
  border-radius: 8px;
  border: 1px solid var(--TEXT);
  box-shadow: -2px 2px 4px 0 rgba(17, 135, 162, 0.2);
  background: radial-gradient(
    circle at center,
    var(--WHITE) 10%,
    var(--BG2) 80%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.menu-open {
  /* width: 80%; */
  width: 0;
  max-width: 0;
  height: 100vh;
  background: linear-gradient(to bottom, transparent 0%, var(--BG) 100%);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px solid var(--TEXT);
  box-shadow: 2px 0px 4px 0px rgba(232, 72, 44, 0.5);
  transition: width 0.2s ease-out, max-width 0.2s ease-out; /* Define the transition here for both opening and closing */
  overflow-x: hidden; /* This prevents horizontal scrolling on small screens */
}

.menu-open.active {
  /* transition: width 0.3s ease-out; */
  width: 80%;
  max-width: 400px;
}

.desktop-nav-center {
  /* height: 100%; */
  background-color: var(--BG);
  width: 33%;
  min-width: 450px;
  padding: 8px 16px;
  border: 2px inset var(--WHITE);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.desktop-nav-links:hover {
  color: var(--SECONDARY);
  justify-content: flex-start;
}

.mobile-nav-links-div {
  display: flex;
  flex-direction: column;
  margin: 64px 0 0 0;
  padding-left: 32px;
  font-size: 1.2rem;
}

.mobile-nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile-nav-links img {
  margin-right: 8px;
}

.mobile-nav-links.scores,
.mobile-nav-links.home {
  margin-bottom: 16px;
}

.mobile-nav-links:hover {
  color: var(--SECONDARY);
}

/* END Navbar & Footer */

section {
  min-height: 90vh;
  width: 100%;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  /* border: 1px solid white; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 16px;
  margin-left: 24px;
  width: 100%;
}

li {
  font-size: 0.9rem;
  color: var(--ERROR);
}

/* My Components */

/* Buttons */
.my-btn {
  padding: 8px 16px;
  /* border: 1px solid; */
  border-radius: 8px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.my-btn:hover {
  cursor: pointer;
}

.my-btn-filled {
  background-color: var(--PRIMARY3);
  border: 2px solid var(--TEXT);
  color: var(--TEXT);
  box-shadow: -2px 2px 4px 0 rgba(17, 135, 162, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.my-btn-filled:hover {
  background-color: var(--SECONDARY);
  background-color: hsl(44, 100%, 61%);

  color: var(--WHITE);
  color: var(--TEXT);
  box-shadow: -2px 2px 4px 0px rgba(232, 72, 44, 0.5);
}

.my-btn-outline {
  background-color: transparent;
  backdrop-filter: blur(16px);
  border: 2px solid var(--TEXT);
  color: var(--TEXT);
  transition: box-shadow 0.3s ease;
}

.my-btn-outline:hover {
  box-shadow: -4px 4px 8px 0px rgba(232, 72, 44, 0.3);
}

.extra-outline {
  background-color: var(--PRIMARY2);
  color: var(--WHITE);
  font-family: "Walter Turncoat", cursive;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.my-btn-text {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0 2px;
  color: var(--SECONDARY);
  border-bottom: 2px solid var(--SECONDARY);
  outline: none;
  transition: transform 0.3s ease;
}

.my-btn-text:hover {
  transform: translateY(-2px);
  text-shadow: -4px -4px 16px var(--PRIMARY3);
}

/* Info message */
.error {
  color: var(--ERROR);
}

.warning {
  color: var(--WARNING);
}

.info {
  color: blue;
}

.success {
  color: var(--SUCCESS);
}

/* END My components */
